<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao}">
<head>
</head>
<body>
<section layout:fragment="conteudo">
    <div class="container-fluid">
        <div class="row text-dark big-font pt-5">
            <div class="col-lg-12 text-center">Finalização do pedido</div>
        </div>
        <div class="row my-3">
            <div class="col-lg-8 mb-5">
                <div class="card card-body shadow-lg" style="min-height: 430px">
                    <h3 class="text-center text-dark my-3">Lista de produtos</h3>

                    <table id="products-checkout" class="table table-hover text-dark m-2">
                        <thead>
                        <tr>
                            <th>Produto</th>
                            <th style="width: 20%;">Quantidade</th>
                            <th style="width: 20%;">Preço (R$)</th>
                            <th width="5%">Ações</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <div class="container-fluid">
                        <div class="card-body row text-dark">
                            <div class="col-lg-9 col-8 col-md-6 col-sm-6 text-right">
                                <p>Subtotal</p>
                                <p>Frete</p>
                                <p>Total</p>
                            </div>
                            <div class="col-lg-3 col-4 col-md-6 col-sm-6 text-right">
                                <p>
                                    <span id="subTotal"></span>
                                    R$
                                </p>
                                <p>
                                    <span id="totalfrete"></span>
                                    R$
                                </p>
                                <p>
                                    <span id="total"></span>
                                    R$
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <div class="container-fluid text-dark">
                            <p>
                               Escolha a forma de pagamento
                            </p>
                            <div class="custom-control custom-radio mb-2">
                                <input type="radio" id="creditCard" name=payment class="custom-control-input" />
                                <label class="custom-control-label" for="creditCard">Cartão de crédito</label>
                                <i class="fab fa-cc-visa"></i>
                                <i class="fab fa-cc-mastercard"></i>
                            </div>
                            <div class="border-bottom border-dark">
                            </div>
                            <div class="custom-control custom-radio mt-2">
                                <input type="radio" id="paypal" name="payment" class="custom-control-input" />
                                <label class="custom-control-label" for="paypal">PayPal</label>
                                <i class="fab fa-cc-paypal"></i>
                            </div>

                            <div class="collapse" id="divCreditCard">
                                <form action="/order/finalizeOrder" method="POST">
                                    <div class="p-0 m-0">
                                        <div class="md-form">
                                            <input required type="text" id="name" name="value" class="form-control" onfocus="onEnter(this)" onblur="onExit(this)">
                                            <label for="name" >Nome</label>
                                        </div>
                                        <div class="md-form">
                                            <input type="text" id="card-number" name="cardnumber" class="form-control" onfocus="onEnter(this)" onblur="onExit(this)">
                                            <label for="card-number" >Numero do cartão</label>
                                        </div>
                                        <div class="md-form">
                                            <div class="row m-0">
                                                <div class="col-lg-6">
                                                    <input type="text" id="expire" name="expire" maxlength="7" class="form-control" onfocus="onEnter(this)" onblur="onExit(this)">
                                                    <label for="expire" >Vencimento</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" id="cvv" name="cvv" maxlength="3" class="form-control" onfocus="onEnter(this)" onblur="onExit(this)">
                                                    <label for="expire" >CVV</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="w-75 mx-auto">
                                            <div class="btn btn-lg btn-outline-black text-dark w-100">
                                                <a class="text-dark" href="javascript:saveOrder('CreditCard')">
                                                    Finalizar com <i class="fab fa-cc-visa"></i>
                                                    <i class="fab fa-cc-mastercard"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="collapse w-75 mx-auto mt-4" id="divPayPal">
                                <a href="javascript:saveOrder('Paypal')" class="btn btn-lg btn-outline-black w-100 text-dark">
                                    Finalizar com <i class="fab fa-cc-paypal"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/page-scripts/order.js}"></script>
</section>
</body>
</html>
