<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>UTFPR</title>

        <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
              integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
              crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/vendors/mdb/mdb.css}"/>
        <link rel="stylesheet" th:href="@{/vendors/chartjs/Chart.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/css/admin-style.css}"/>
        <link rel="stylesheet" th:href="@{/vendors/sweetalert/sweetalert.css}"/>
        <link rel="stylesheet" th:href="@{/vendors/datepicker/css/datepicker.css}"/>
        <link rel="stylesheet" th:href="@{/vendors/autocomplete-js/css/autoComplete.css}"/>
        <link rel="stylesheet" th:href="@{/css/allz-select.css}"/>
        <script type="text/javascript" th:src="@{/vendors/jquery/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/vendors/autocomplete-js/js/autoComplete.js}"></script>
    </head>

    <body>
        <header>
            <nav class="navbar fixed-top navbar-dark navbar-expand-lg navbar-fixed-top p-2">

                <div class="navbar-toggler w-100">
                    <div class="d-flex justify-content-between w-100 align-items-center">
                        <a data-toggle="collapse" data-target="#barraNav" aria-expanded="true">
                            <i class="fas fa-angle-double-down fa-2x ml-4"></i>
                        </a>
                        <a th:href="@{/}">
                            <img th:src="@{/imgs/logo.png}" title="Home" id="logo" alt="Logo"/>
                        </a>
                    </div>
                </div>


                <div class="collapse navbar-collapse row" id="barraNav">
                    <link rel="stylesheet" th:href="@{/css/dropdown.css}"/>
                    <div class="col-lg-3" id="logo-left">
                        <a th:href="@{/}">
                            <img th:src="@{/imgs/logo.png}" id="logo" alt="Logo"/>
                        </a>
                    </div>

                    <ul class="navbar-nav col-lg-6">
                        <li>
                            <a th:href="@{/admin}" class="nav-link">Dashboard</a>
                        </li>
                        <li>
                            <a th:href="@{/account}" class="nav-link">Controle de Usuários</a>
                        </li>
                        <li class="dd-allianz">
                            <div class="nav-link" style="color: #cca910">Cadastros
                                <i class="fa fa-angle-down"></i>
                            </div>

                            <div class="dd-allianz-content flex-column text-left">
                                <a class="nav-link text-left" th:href="@{/brand}">Marcas
                                    <i class="fas fa-tags"></i>
                                </a>
                                <a class="nav-link text-left" th:href="@{/category}">Categorias
                                    <i class="fas fa-bookmark"></i>
                                </a>
                                <a class="nav-link text-left" th:href="@{/provider}">Fornecedores
                                    <i class="fas fa-user-tag"></i>
                                </a>
                                <a class="nav-link text-left" th:href="@{/product}">Produtos
                                    <i class="fas fa-glasses"></i>
                                </a>
                            </div>

                        </li>
                        <li>
                            <a th:href="@{/providerorder}" class="nav-link">Pedidos</a>
                        </li>

                    </ul>


                    <ul class="navbar-nav col-lg-3 d-flex justify-content-end">
                        <li class="dd-allianz">
                            <div class="nav-link">
                                Usuário:
                                <a sec:authentication="name"></a>
                                <i class="fa fa-angle-down"></i>
                            </div>

                            <div class="dd-allianz-content flex-column text-left">
                                <a class="nav-link text-left" th:href="@{/profile/new}">Perfil
                                    <i class="fas fa-users-cog"></i>
                                </a>
                                <a class="nav-link text-left" th:href="@{/auth/logout}">Sair
                                    <i class="fas fa-sign-out-alt"></i>
                                </a>
                            </div>

                        </li>
                    </ul>

                </div>
            </nav>
        </header>

        <section id="conteudo" layout:fragment="conteudo">
            As págias serão carregadas aqui...
        </section>


        <footer class="page-footer font-small">
            <div class="container-fluid p-0">
                <div class="footer-copyright text-center py-3">
                    ALLIANZ LTDA / CNPJ: 99.125.059/0001-73 / Inscrição Estadual: 413.213.618.331 / Endereço Avenida
                    Tupi,
                    13 -
                    Pato Branco, PR - 85501-323 / allianz@newborn.com
                    <br/>
                    © 2018 Copyright:
                    <span href="https://mdbootstrap.com/bootstrap-tutorial/">ALLIANZ.COM</span>
                </div>
                <!-- Copyright -->
            </div>
        </footer>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/vendors/sweetalert/sweetalert-dev.js}"></script>
        <script type="text/javascript" th:src="@{/vendors/datepicker/js/datepicker.js}"></script>
        <script type="text/javascript" th:src="@{/vendors/datepicker/js/i18n/datepicker.pt-BR.js}"></script>
        <script type="text/javascript" th:src="@{/vendors/jquery/mask/jquery.mask.js}"></script>
        <script type="text/javascript" th:src="@{/vendors/jquery/validate/jquery.validate.min.js}"></script>
        <script type="text/javascript" th:src="@{/vendors/jquery/validate/additional-methods.min.js}"></script>
        <script type="text/javascript" th:src="@{/vendors/dropzone/dropzone.js}"></script>
        <script type="text/javascript" th:src="@{/js/dropdown.js}"></script>
        <script type="text/javascript" th:src="@{/js/base64.js}"></script>
        <script type="text/javascript" th:src="@{/js/app.js}"></script>
        <script type="text/javascript" th:src="@{/js/validate.js}"></script>
        <script type="text/javascript" th:src="@{/js/carrinho.js}"></script>
        <script type="text/javascript" th:src="@{/js/crud.js}"></script>
        <script type="text/javascript">
            $(() => $('[data-toggle="tooltip"]').tooltip());
        </script>

    </body>
</html>