<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout-padrao-admin}">
<head>
</head>
<body>
<section layout:fragment="conteudo">
    <link rel="stylesheet" th:href="@{/css/page-styles/admin.css}"/>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <canvas id="myChart2"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <canvas id="pizzaChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript">
        $.getJSON('/viewCharts', {},(j) => {
            debugger;
            var ctx = document.getElementById("myChart");

            var data = {
                labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
                datasets: [
                    {
                        label: "Visitas Únicas",
                        fill: false,
                        lineTension: 0.3,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#000",
                        pointBorderWidth: 5,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data: [85, 59, 80, 63, 37, 20, 15, 55, 55, 74, 105, 99],
                        spanGaps: true,
                    }
                ]
            };

            var myChart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });

            chartColors = {
                orange: "rgb(255, 159, 64)",
                green: "rgb(75, 192, 192)",
                greenDim: "rgba(75, 192, 192, 0.3)",
                blue: "rgb(54, 162, 235)",
                purple: "rgb(153, 102, 255)",
                purpleDim: "rgba(153, 102, 255, 0.3)"
            };

            let datasetX = [0, 10, 15, 25, 50, 60, 70, 80, 90, 100];
            let datasetOneY = [0, 20, 25, 50, 100, 80, 70, 50, 70, 0];
            let datasetTwoY = [50, 40, 70, 25, 10, 60, 100, 70, 40, 100];

            let chartElement = document.querySelector("#myChart2");

            let chart = new Chart(chartElement, {
                type: "line",
                data: {
                    labels: datasetX,
                    datasets: [
                        {
                            label: "Dataset 1",
                            backgroundColor: chartColors.purpleDim,
                            borderColr: chartColors.purple,
                            fill: true,
                            data: datasetOneY
                        },
                        {
                            label: "Dataset 2",
                            backgroundColor: chartColors.greenDim,
                            borderColor: chartColors.green,
                            fill: true,
                            data: datasetTwoY
                        }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: "Exemplu Chart Tip Line",
                        fontSize: 25,
                        fontColor: chartColors.blue
                    },
                    scales: {
                        xAxes: [
                            {
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: "X"
                                }
                            }
                        ],
                        yAxes: [
                            {
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: "Y"
                                }
                            }
                        ]
                    },
                    legend: {
                        display: true,
                        labels: {
                            fontColor: chartColors.orange
                        }
                    }
                }
            });

            var barCtx = document.getElementById("barChart");
            var myBarChart = new Chart(barCtx, {
                type: 'bar',
                data: {
                    labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 2
                    }, {
                        label: '# of Votes2',
                        data: [25, 13, 17, 12, 24, 5],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 2
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });

            var ctx = document.getElementById("pizzaChart");
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ["Hull", "Total Armour", "Energy"],
                    datasets: [{
                        label: 'Value',
                        data: [10000, 6000, 5000],
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)'
                        ],

                        borderColor: [
                            'rgba(255,99,132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Reaper Primary Stats',
                        fontSize: 28,
                    }//end of title

                }//end of options
            });
        })
    </script>
</section>
</body>
</html>
