<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout-padrao-admin}">
<head>
</head>
<body>
<section layout:fragment="conteudo" class="pt-2">
    <link rel="stylesheet" th:href="@{/css/page-styles/admin.css}"/>

    <div class="container-fluid pt-2">
        <h4 class="container-fluid text-center" id="text-title">Dashboard Alliance</h4>
        <div class="row">
            <div class="col-lg-6">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <canvas id="myChart2"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script th:src="@{/js/page-scripts/dashboard.js}"></script>
</section>
</body>
</html>
